// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 1000

.nunito-<uniquifier> {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

:root{

    font-size: 23px;

    /*Colores fondo*/
    --bg-color-principal:#0eb5aa;
    --bg-color-principal-transp:rgba(3, 181, 169, 0.6);
    --bg-color-busqueda:#0c1b33;
    --bg-color-cards-price: rgb(0, 162, 255);
    --bg-gradient-color:linear-gradient(to right, rgb(0, 162, 255), rgb(6, 37, 104)) ;
    --bg-color-secondary: #ffffff;
    --bg-color-footer: #B2AA8E;
    --bg-color-destacadas-titulos: #DBFE87;

    /*Colores textos*/
    --text-color-principal:#000000;
    --text-color-secondary:#B2AA8E;
    --text-color-third: #ffffff;
    --text-color-title:#D60B52;
    --text-color-price:#DBFE87;
    --text-color-nav-a-hover:#0c1b33;
    --text-shadow: 3px 3px 5px #000000;
    --text-color-copyright:#ffffff;
    --text-color-grupocreador: #9c1d1d;

    /*Fonts*/
    --font-xx-large: 3rem;
    --font-x-large: 2.5rem;
    --font-large: 2rem;
    --font-medium: 1.5rem;
    --font-small: 1rem;
    --font-x-small: 0.73rem;
    --font-xx-small: 0.55rem;

    /*Padding*/
    --padding-xx-large:300px;
    --padding-x-large: 90px;
    --padding-large: 50px;
    --padding-medium: 30px;
    --padding-small: 20px;
    --padding-x-small: 15px;
    --padding-xx-small: 7px;

    /*Margin*/
    --margin-x-large: 120px;
    --margin-large: 90px;
    --margin-medium: 70px;
    --margin-medium-2: 50px;
    --margin-small: 30px;
    --margin-small-2: 20px;
    --margin-small-1: 15px;
    --margin-x-small: 10px;
    --margin-min: 3px;

    /*Border radius*/
    --border-radius-max: 15px;
    --border-radius-med: 8px;
    --border-radius-min: 3px;

    /*Gap*/
    --gap-maximo: 50px;
    --gap-medio: 30px;
    --gap-min: 8px;

}

* {
    padding: 0;
    margin: 0;
}

html {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    margin: 0 auto;
    width: 100%
}

/*------------Header-----------*/

header{
    width: 100%;
    position: fixed;
    margin: 0%;
    background-color: var(--bg-color-secondary);
}

.header_nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header_content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.header_content img{
    width: 350px;
}


.social img{
    width: 30px;
    padding: var(--padding-xx-small);
    transition: transform .3s;
}

.social img:hover{
    transform: scale(1.3);
}

.social h4{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
}


.menu_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-principal);
    padding: var(--padding-xx-small);
}

.menu_nav a {
    text-decoration: none;
    font-size: var(--font-x-small);
    transition: 0.5s;
    font-weight: 500;
    margin: 0 var(--margin-small);
    color: var(--text-color-third);
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
}

.menu_nav a:hover {
    color:var(--text-color-nav-a-hover);
}

.contacto a{
    text-decoration: none;
    font-size: var(--font-x-small);
    color: var(--text-color-principal);
    cursor: pointer;
    font-weight: 500;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
}

.contacto a:hover{
    color:var(--bg-color-principal);
}

.contacto h4{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
}

/*-----------Busqueda por categorías-----------*/

.busqueda_gral{
    height: 750px;
    background-image: url("../static/img/pexels-photomix-company-101808\ -\ copia.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.busqueda_gral h2{
    text-align: center;
    color: var(--text-color-third);
    text-shadow: var(--text-shadow);
    margin-bottom: var(--margin-medium-2);
    font-size: var(--font-large);
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
}

.busqueda{
    width: 70%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    background-color: var(--bg-color-principal-transp);
    padding: var(--padding-large);
    border-radius: var(--border-radius-max);
    margin: 0 auto;
}

.select{
    border-radius: var(--border-radius-min);
    font-size: var(--font-x-small);
    width: 240px;
    height: 40px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
}

.cbox{
    font-size: var(--font-x-small);
    color: var(--text-color-third);
    padding: var(--padding-x-small);
    cursor: pointer;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
}

#quicksearch{
    width: 400px;
    height:36px;
    font-size: var(--font-x-small);
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
}

.buscar{
    width: 100px;
    height:39px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    border-radius: var(--border-radius-med);
    background-color: var(--bg-color-busqueda);
    color: var(--text-color-third);
    font-weight: 700;
}

/*-----------FooterNav-----------*/

footer{
    background-color: var(--bg-color-footer);
}

.footer_nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer_links{
    width: 300px;
}

.footer_links a{
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-size: var(--font-x-small);
    color: var(--text-color-copyright);
    font-weight: 800;
    margin: var(--margin-medium);
}

.footer_links a:hover{
    color:var(--text-color-nav-a-hover);
}

.info{
    width: 380px;
    padding: var(--padding-large);
    font-weight: 600;
}

.info h3{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-size: var(--font-small);
    color: var(--text-color-principal);
}

.info p{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-size: var(--font-xx-small);
    text-align: justify;
    font-weight: lighter;
    color: var(--text-color-third);
}

.footer_info{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.copyright{
    font-size: var(--font-xx-small);
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
}

.diseñador a{
    text-decoration: none;
    font-size: var(--font-x-small);
    color: var(--text-color-principal);
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
}

/*------------Propiedades Destacadas------------*/

.diseñador a span{
    color: var(--text-color-grupocreador);
}

.destacadas{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.destacadas h2{
    text-align: center;
    padding: var(--padding-medium);
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
}

.container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: var(--gap-med);
    justify-content: space-evenly;
    color: var(--text-color-principal);
}

.propiedad{
    width: 350px;
    border: 1px solid;
    margin-bottom: var(--margin-small);
    border-bottom-left-radius: var(--border-radius-med);
    border-bottom-right-radius: var(--border-radius-med);
}

.propiedad img{
    width: 350px;
}

.propiedad h3{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-size: var(--font-x-small);
    padding: var(--padding-xx-small);
    background-color: var(--bg-color-destacadas-titulos);
}

.propiedad p{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-size: var(--font-x-small);
    text-align: justify;
    padding: var(--padding-small);
}

.importe p{
    text-align: right;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: var(--font-small);
    color: var(--text-color-principal);
}

/*-----------Garantias de alquiler-----------*/

.accesos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.accesos h2{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    font-size: var(--font-small);
    margin-top: var(--margin-medium);
}

.garantias{
    margin: 0 auto;
}

.garantias img{
    width: 150px;
    padding: var(--padding-large);
    align-items: center;
}

/*-----------Registro-----------*/

.registro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mregistro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
    position: auto;
    padding: 0px auto 30px;
    justify-content: center;
    width: 350px;
    height: 535px;
    margin: 370px auto 10px;
    background-color: white;
    border-radius: var(--border-radius-max);
    border-color: black;
    border-top-color: #000000;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #c2c2c2;
}

.registro h3 {
    color: black;
    background: none;
    font-family: "Nunito", sans-serif;
    font-weight: 80px;
    text-align: center;
    font-weight: bold;
    padding: 10px 0px 0px 0px;
}

.form-control input {
    width: 100%;
    background: white;
    padding: 8px;
    border-radius: var(--border-radius-min);
    margin-bottom: 10px;
    margin-left: -10px;
    border: 1px solid rgb(194, 194, 194);
}

.terms {
    color: black;
    font-family: "Nunito", sans-serif;
    font-size: medium;
    text-align: left;
    font-weight: normal;
    padding: 10px 0px;
}

.form-help a {
    color: black;
    font-family: "Nunito", sans-serif;
    font-size: medium;
    text-align: left;
    font-weight: normal;
    padding: 10px 0px;
}

button {
    width: 100%;
    height: 26px;
    border-radius: var(--border-radius-med);
    border-style: none;
    background-color: #0C1B33;
    color: white;
    font-size: medium;
    padding: 40x 0px;
}

button:hover {
    cursor: pointer;
    border: 3px solid #0eb5aa;
    background: rgb(235, 234, 241);
    color: #0C1B33;
}

.tituloregistro {
    width: auto;
    height: auto;
    background: url('../static/img/fondo-registro.jpg') no-repeat center center;
    background-size: cover;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    padding: 150px;
    text-align: center;
    position: auto;
    flex-direction: row;
    margin: 0px;
    padding: 60px;
}

/*-----------Ingreso-----------*/

.mingreso {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
    position: auto;
    padding: 0px auto 30px;
    justify-content: center;
    width: 350px;
    height: 435px;
    margin: 370px auto 10px;
    background-color: white;
    border-radius: var(--border-radius-max);
    border-color: black;
    border-top-color: #000000;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #c2c2c2;
}

.tituloingreso {
    width: auto;
    height: auto;
    background: url('../static/img/fondo-ingreso.jpg') no-repeat center center;
    background-size: cover;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    padding: 150px;
    text-align: center;
    position: auto;
    flex-direction: row;
    margin: 0px;
    padding: 60px;
}

.ingreso {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ingreso h3 {
    color: black;
    background: none;
    font-family: "Nunito", sans-serif;
    font-weight: 80px;
    text-align: center;
    font-weight: bold;
    padding: 0px 80px 0px 0px;
    margin-top: 20px;
    margin-left: 70px;
}

.buting {
    margin: 0px 10px 0px 10px;
    padding: 0px 10px 0px 0px;
}

.bingresar img {
    width: 30px;
    padding: var(--padding-xx-small);
    transition: transform .3s;
    padding: 0px 0px 0px 0px;
}

.buting button {
    width: auto;
    height: 45px;
    border-radius: var(--border-radius-med);
    border-style: solid;
    background-color: #ffffff;
    color: #0C1B33;
    font-size: medium;
    font-weight: bolder;
    padding: 10px;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.butpub button {
    width: auto;
    height: 45px;
    border-radius: var(--border-radius-med);
    border-style: solid;
    background-color: #0C1B33;
    color: #ffffff;
    font-size: medium;
    font-weight: bolder;
    padding: 10px;
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
}



