:root {
    font-size: 23px;

    /*Colores fondo*/
    --bg-color-principal: #224886;
    --bg-color-principal-transp: #0c1b338e;
    --bg-color-busqueda: #1417e6;
    --bg-color-cards-price: rgb(0, 162, 255);
    --bg-gradient-color: linear-gradient(to right, rgb(0, 162, 255), rgb(6, 37, 104));
    --bg-color-secondary: #ffffff;
    --bg-color-footer: #b6b6b6;
    --bg-color-header: #ffffff;
    --bg-color-destacadas-titulos: #DBFE87;
    --box-shadow: 0px 2px 5px #c5c5c5;

    /*Colores textos*/
    --text-color-principal: #000000;
    --text-color-secondary: #0eb5aa;
    --text-color-third: #ffffff;
    --text-color-title: #D60B52;
    --text-color-price: #6d9c00;
    --text-color-nav-a-hover: #0c1b33;
    --text-shadow: 3px 3px 5px #000000;
    --text-color-copyright: #ffffff;
    --text-color-grupocreador: #9c1d1d;
    --text-color-propiedad-p: #797979;
    --text-color-link: #0f00b4;
    --text-color-blue-logo: #224886;
    --text-color-blue-light: #346cc7;

    /*Fonts*/
    --font-xx-large: 3rem;
    --font-x-large: 2.5rem;
    --font-large: 2rem;
    --font-medium: 1.2rem;
    --font-small: 1rem;
    --font-x-small: 14px;
    --font-xx-small: 12px;
    --font-xxx-small: 10px;

    /*Padding*/
    --padding-xx-large: 300px;
    --padding-x-large: 70px;
    --padding-large: 50px;
    --padding-medium: 30px;
    --padding-small: 20px;
    --padding-x-small: 15px;
    --padding-xx-small: 10px;
    --padding-xxx-small: 8px;

    /*Margin*/
    --margin-x-large: 120px;
    --margin-large: 90px;
    --margin-medium: 70px;
    --margin-medium-2: 50px;
    --margin-small: 30px;
    --margin-small-2: 20px;
    --margin-small-1: 15px;
    --margin-x-small: 10px;
    --margin-min: 3px;

    /*Border radius*/
    --border-radius-max: 15px;
    --border-radius-med: 8px;
    --border-radius-min: 3px;

    /*Gap*/
    --gap-maximo: 3.125rem;
    --gap-medio: 1.875rem;
    --gap_medio2: 1rem;
    --gap-min2: 1.25rem;
    --gap-min: 0.625rem;

    /*Border color*/
    --border-color-1: #a8a8a8;
    --border-color-2: #3b3b3b;
    --border-color-3: #888888;

    /*Fuente nunito google predeterminada*/
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

html {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    margin: 0 auto;
    width: 100%;
}

/* Codigo para el header */

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--bg-color-header);  
}

.logo{
    max-width: 12rem;
}

.nav-list{
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.nav-list a{
    text-decoration: none;
    color: var(--text-color-principal);
    font-size: var(--font-x-small);
    font-weight: bolder
}

.nav-list a:hover{
    font-weight: bolder;
    color: var(--text-color-blue-light);
}

.abrir-menu, .cerrar-menu{
    display: none;
}

.publicar{
    padding: 8px;
    background-color: var(--bg-color-principal);
    color: var(--text-color-third);
    border-radius: var(--border-radius-med);
    font-weight: 700;
    cursor: pointer;
}
#boton-publicar {
    display: inline-block;
    padding: 6px 14px;
    background-color: var(--bg-color-principal);
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer; 
    box-shadow: 2px 2px 2px 1px var(--bg-color-principal-transp);
}

#boton-publicar:hover {
    color: var(--text-color-blue-light);
}

.busqueda_gral {
    height: 700px;
    background-image: url("../static/img/pexels-photomix-company-101808\ -\ copia.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.busqueda_gral h2 {
    text-align: center;
    color: var(--text-color-third);
    text-shadow: var(--text-shadow);
    margin-bottom: var(--margin-medium);
    font-size: var(--font-large);
}

.busqueda {
    width: 70%;
    display: grid;
    height: auto;
    grid-template-columns: auto auto auto;
    justify-content: center;
    background-color: var(--bg-color-principal-transp);
    padding: var(--padding-large);
    padding-bottom: var(--padding-xxx-small);
    border-radius: var(--border-radius-max);
}

.select {
    border-radius: var(--border-radius-min);
    font-size: var(--font-x-small);
    width: 97%;
    height: 40px;
}

.cbox {
    font-size: var(--font-x-small);
    color: var(--text-color-third);
    padding: var(--padding-x-small);
    cursor: pointer;
}
.select, .cbox, #quicsearch{
    width: 100%;
}
    .select {
        border-radius: var(--border-radius-min);
        font-size: var(--font-xx-small);
        width: 98%;
        height: 40px;
    }

#quicksearch {
    width: 100%;
    height: 40px;
    font-size: var(--font-x-small);
}

.boton_busqueda {
    padding: var(--padding-x-small);
}

.buscar {
    color: var(--text-color-third);
    font-weight: 500;
    text-decoration: none;
    font-size: var(--font-x-small);
    background-color: var(--bg-color-principal);
    padding: var(--padding-xx-small) var(--padding-small);
    border-radius: var(--border-radius-med);
    margin-top: 10px;
}

/* Codigo para el footer */

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(191,191,191);
    background: linear-gradient(180deg, rgba(191,191,191,1) 0%, rgba(222,222,222,1) 100%, rgba(232,232,232,1) 100%);
}

.info{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3rem;
    padding: 2rem;
}

.info h3{
    font-size: var(--font-medium);
    color: var(--text-color-blue-logo);
    margin-bottom: 0.5rem;
    text-align: center;
}

.info p{
    font-size: var(--font-x-small);
    font-weight: 600;
    text-align: center;
    line-height: 1.5;
}

.iconos-social{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.iconos-social img{
    width: 30px;
    transition: transform .3s;
}

.iconos-social img:hover{
    transform: scale(1.3);
}

.iconos-social h3{
    font-size: var(--font-small);
    padding: 0.5rem;
}

.servicio{
    width: 80%;
    margin: 0 auto;
    padding: 0 3rem;
    font-size: var(--font-small);
    text-align: center;
    color: var(--text-color-propiedad-p);
    font-weight: bold;
}

.comunicate{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.comunicate a{
    text-decoration: none;
    font-size: var(--font-x-small);
    font-weight: 700;
}

.comunicate p{
    font-size: var(--font-x-small);
    font-weight: 700;

}

.social-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
}

.copyright{
    font-size: var(--font-x-small);
    color: var(--text-color-propiedad-p);
}

.diseñador a{
    text-decoration: none;
    color: var(--text-color-principal);
    font-size: var(--font-x-small);
    font-weight: 500;
}


/*Fin codigo del footer*/

/* Codigo Nosotros */

.sobre_nosotros {
    width: 100%;
    background: url("../static/img/fondo_cortado_duotono.png");
}

.sobre_nosotros h2 {
    height: 150px;
    align-content: center;
    text-align: center;
    color: var(--text-color-third);
    text-shadow: var(--text-shadow);
    font-size: var(--font-large);
}

.nosotros {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.quienes_somos {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.quienes_somos div {
    width: 50%;
}

.quienes_somos h3 {
    font-size: var(--font-medium);
    padding: var(--padding-medium) var(--padding-x-large) 0 var(--padding-x-large);
    color: var(--text-color-secondary);
}

.quienes_somos p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: var(--padding-small) var(--padding-x-large);
    font-size: var(--font-x-small);
    text-align: justify;
    color: var(--text-color-propiedad-p);
    font-weight: 400;
}

.foto_nosotros {
    width: 100%;
    padding: var(--padding-x-small) 0 var(--padding-x-small) var(--padding-x-small);
}

/* Codigo formulario Log in */

.login {
    width: 100%;
    background: url("../static/img/fondo_cortado_duotono_ingreso.png");
}

.login h2 {
    height: 150px;
    align-content: center;
    text-align: center;
    color: var(--text-color-third);
    text-shadow: var(--text-shadow);
    font-size: var(--font-large);
}

.seccion_contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.formulario {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--padding-small);
    margin: var(--margin-small) auto;
    border: 1px solid var(--border-color-3);
}

.formulario_contacto {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--padding-small);
}

.formulario_contacto p {
    width: 400px;
    text-align: justify;
    font-size: var(--font-x-small);
    margin: var(--margin-x-small) auto;

}

.img_contacto img {
    width: 950px;
    height: auto;
}

.contacto_title {
    width: 100%;
    background: url("../static/img/fondo_cortado_duotono_contacto.png");
    background-size: cover;
    background-position: center;
    position: relative;
    top: -8px;
}

.contacto_title h2 {
    height: 150px;
    align-content: center;
    text-align: center;
    color: var(--text-color-third);
    text-shadow: var(--text-shadow);
    font-size: var(--font-large);
}

.formulario_contacto p span {
    color: var(--text-color-link);
    cursor: pointer;
}

.formulario_contacto h4 {
    padding: 0 var(--padding-medium) 0 var(--padding-medium);
    font-size: var(--font-medium);
    color: var(--text-color-blue-logo);
    text-align: center;
    margin-top: 50px;
}

#nombre_contacto,
#phone_contacto,
#direccion_contacto,
#comentarios_contacto,
#email_contacto {
    padding: var(--padding-x-small);
    width: 400px;
    margin-bottom: var(--margin-small-1);
    border: 0.3px solid var(--border-color-3);
}

.button_contacto {
    padding: var(--padding-x-small);
    width: 100%;
    margin-top: var(--margin-small);
    background-color: var(--bg-color-principal);
    color: var(--text-color-third);
    border-radius: var(--border-radius-med);
    cursor: pointer;
}

.formulario h4 {
    padding: var(--padding-medium);
    font-size: var(--font-medium);
    color: var(--text-color-blue-logo);
    text-align: center;
}

.login_form {
    padding: var(--padding-medium);
}

#email,
#password,
#nombre_apellido,
#phone,
#direccion,
#comentarios,
#razon_social_p,
#matricula_usuario_p {
    padding: var(--padding-x-small);
    width: 300px;
    margin-bottom: var(--margin-small-1);
    border: 0.3px solid var(--border-color-3);
}
.boton-form {
    width: 100%;
}

.button {
    padding: var(--padding-x-small);
    width: 100%;
    margin-top: var(--margin-large);
    background-color: var(--text-color-blue-logo);
    color: var(--text-color-third);
    border-radius: var(--border-radius-med);
    cursor: pointer;
    font-size: var(--font-x-small);
}

.button_publicar {
    font-size: var(--font-x-small);
    padding: var(--padding-small);
    width: 100%;
    background-color: var(--text-color-blue-logo);
    text-align: center;
    border-radius: var(--border-radius-med);
}

.button_publicar a {
    color: var(--text-color-third);
    text-decoration: none;
    font-weight: 400;
}

.contraseña,
.ayuda {
    color: var(--text-color-link);
    cursor: pointer;
    font-size: var(--font-x-small);
    margin: var(--margin-x-small);
}

.cbox-login {
    font-size: var(--font-x-small);
    color: var(--text-color-principal);
    cursor: pointer;
}

.registro_u_p {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.registro_title {
    width: 100%;
    background: url("../static/img/fondo_cortado_duotono - registro.png");
}

.registro_title h2 {
    height: 150px;
    align-content: center;
    text-align: center;
    color: var(--text-color-third);
    text-shadow: var(--text-shadow);
    font-size: var(--font-large);
}

.formularios_usuarios {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.form-user,
.form-prop {
    width: 90%;
}

.formularios_usuarios h4 {
    padding: 0 var(--padding-medium) 0 var(--padding-medium);
    font-size: var(--font-medium);
    color: var(--text-color-blue-logo);
    text-align: center;
    margin-top: 50px;
}

.usuario_form {
    padding: var(--padding-medium);
}

#name_usuario,
#name_usuario2,
#dni_usuario,
#address_usuario,
#address_usuario2,
#CPostal_usuario,
#CPostal_usuario2,
#email_usuario,
#email_usuario2,
#password_usuario,
#password_usuario2,
#password2_usuario,
#password2_usuario2,
#razon_social,
#matricula_usuario {
    padding: var(--padding-x-small);
    width: 100%;
    margin-bottom: var(--margin-small-1);
    border: 0.3px solid var(--border-color-3);
}

.button_usuario {
    padding: var(--padding-x-small);
    width: 100%;
    margin-top: var(--margin-small);
    background-color: var(--bg-color-principal);
    color: var(--text-color-third);
    border-radius: var(--border-radius-med);
    cursor: pointer;
    font-size: var(--font-x-small);
}

.requeridos {
    font-size: var(--font-x-small);
    color: var(--text-color-title);
    font-weight: 500;
}

/* -- animaciones propiedades.html -- */
.magic {
    -webkit-animation: magic 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: magic 1.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes magic {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(12px);
        transform: translateZ(12px);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes magic {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(12px);
        transform: translateZ(12px);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

.fade-in {
    -webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* PANTALLAS GRANDES */
@media screen and (max-width:1920px) {
    /** implementacion de nosotros.html***/

    .quienes_somos {
        align-items: start;
    }

    .quienes_somos h3 {
        font-size: var(--font-medium);
        padding: 30px 0 0 0;
    }

    .quienes_somos p {
        font-size: var(--font-small);
    }

    .quienes_somos div {
        text-align: center;
        width: 50%;
    }

    #div-foto {
        padding: 30px 0 0 0;
    }

    /** implementacion de registros **/
    .formulario_registro_usuario,
    .formulario_registro_propietario {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .formularios_usuarios h4 {
        width: 100%;
        padding: 0 var(--padding-medium) 0 var(--padding-medium);
        font-size: var(--font-small);
        text-align: center;
        margin-top: 50px;
    }

    .form-user,
    .form-prop {
        width: 70%;
    }

    /* -- implementacion de propiedades -- */

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-top: calc(var(--padding-medium) + 114px);
    }

    .img-fondo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 258px;
        background-image: url("../static/img/fondo_cortado_duotono-alquileres.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: var(--bg-color-secondary);
    }

    .img-fondo h1 {
        text-shadow: 0px 4px 4px black;
        font-weight: 800;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .container-content {
        max-width: 95%;
    }

    .container .bar {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: var(--margin-medium-2);
    }

    .bar button {
        width: 139px;
        height: 42px;
        background-color: var(--text-color-blue-logo);
        color: var(--bg-color-secondary);
        border-radius: 10px;
        border-width: 0;
        font-size: var(--font-x-small);
        font-weight: 600;
    }

    /**filtros**/
    .filter-container {
        border: 0.5px solid var(--bg-color-footer);
        margin-top: var(--margin-small);
        margin-bottom: var(--margin-small);
    }

    .filter {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: var(--margin-small-2);
    }

    .form-filter {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(6, 1fr);
        width: 100%;
        font-size: 16px;
        justify-content: space-evenly;
    }

    .form-filter input,
    .form-filter select {
        box-sizing: border-box;
        width: 375px;
        height: 47px;
    }

    .form-filter label {
        width: 147px;
        font-size: 20px;
    }

    .button-container {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 7;
        display: flex;
        justify-content: end;
    }

    .button-container button {
        width: 320px;
        height: 47px;
        background-color: var(--text-color-blue-logo);
        color: var(--text-color-third);
        font-weight: 600;
        border-radius: 10px;
    }

    #archivo {
        align-content: center;
    }

    /** propiedades**/
    .property-container {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        gap: 20px;
        margin-bottom: var(--margin-small);
    }

    /** tarjetas **/
    .property {
        display: flex;
        width: 100%;
        flex-direction: column;
        height: auto;
        border-radius: var(--border-radius-max);
        background-color: #D9D9D9;
        justify-content: center;
    }

    .property img {
        width: 100%;
        height: 70%;
        border-top-left-radius: var(--border-radius-max);
        border-top-right-radius: var(--border-radius-max);
    }

    .property p {
        font-size: var(--font-x-small);
    }

    .property span {
        color: var(--text-color-principal);
        font-weight: 500;
    }

    .info-prop {
        padding: var(--padding-x-small);
    }

    /** navegador de paginas**/
    .pages-bar {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 39px;
        margin-bottom: var(--margin-small);
        justify-content: center;
    }

    .pages-bar ul {
        display: flex;
        width: 40%;
        justify-content: space-around;
    }

    .pages-bar li {
        list-style: none;
        display: inline-block;
    }

    .pages-bar li a {
        text-decoration: none;
        color: #000000;
        font-size: 20px;
        font-weight: 300;
    }
}

@media screen and (min-width: 1321px) and (max-width: 1500px){
    .img-contacto img{
        display: none;
    }

    .formulario-contacto{
        margin: 0 auto;
        padding: 0;
    }
}


@media screen and (min-width: 1000px) and (max-width: 1320px) {
    
    .nav-list{
        gap: 8px;
    }

    .busqueda{
        grid-template-columns: auto;
    }

    .select, .cbox, #quicsearch{
        width: 300px;
    }

    .comunicate{
        display: grid;
        grid-template-columns: auto;
        text-align: center;
        gap: 1rem;
    }

    .foto-contacto{
        display: none;
    }

    .formulario-contacto{
        margin: 0 auto;
    }

}

/* TABLETS */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    /** implelemtacion de index.html **/
    .busqueda {
        grid-template-columns: 25% 25% 50%;
        gap: 3px;
    }

    /* .select {
        border-radius: var(--border-radius-min);
        font-size: var(--font-xx-small);
        width: 98%;
        height: 40px;
    } */

    .cbox {
        font-size: var(--font-x-small);
    }

    #cbox1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 2;
    }

    #cbox2 {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    #quicksearch {
        font-size: var(--font-x-small);
    }

    /** implementacion de nosotros.html **/

    .nosotros {
        position: relative;
        top: -8px;
    }

    .quienes_somos {
        align-items: start;
    }

    .quienes_somos h3 {
        font-size: var(--font-small);
        padding: 30px 0 0 0;
    }

    .quienes_somos p {
        font-size: var(--font-x-small);
    }

    .quienes_somos div {
        text-align: center;
        width: 50%;
    }

    /** implementacion de registro **/
    .formulario_registro_usuario,
    .formulario_registro_propietario {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .formularios_usuarios h4 {
        width: 100%;
        padding: 0 var(--padding-medium) 0 var(--padding-medium);
        font-size: var(--font-small);
        text-align: center;
        margin-top: 50px;
    }


    /** implementacion de propiedades **/
    main {
        margin-top: calc(var(--padding-medium) + 114px);
        font-size: 2.4vw;
    }

    .img-fondo {
        height: 150px;
        background-image: url("../static/img/fondo_cortado_duotono-alquileres.png");
    }

    .bar button {
        width: 109px;
        height: 32px;
    }

    .container .bar {
        margin-top: var(--margin-small-1);
    }

    /**filtros**/
    .filter {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: var(--margin-x-small);
    }

    .form-filter {
        font-size: 15px;
    }

    .form-filter input,
    .form-filter select {
        box-sizing: border-box;
        width: 375px;
        height: 47px;
    }

    .form-filter label {
        width: 147px;
    }

    .button-container {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 7;
        display: flex;
        justify-content: end;
    }

    .button-container button {
        width: 375px;
    }

    #space {
        visibility: hidden;
    }

    /** propiedades**/
    .property-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        height: 600px;
        overflow-y: scroll;
    }

    /** navegador de paginas**/
    .pages-bar ul {
        width: 70%;
        margin-top: var(--margin-small-1);
    }

    .info{
        display: flex;
        flex-direction: column;
    }
    
    .nav-list{
        gap: 14px;
    }

    .nav-list a{
        font-size: var(--font-xx-small);
    }

    .comunicate{
        display: grid;
        grid-template-columns: auto;
        text-align: center;
        gap: 1rem;
    }

    .social-footer{
        flex-direction: column;
    }
}


/* CELULARES */
@media screen and (max-width: 767px) {

    /** implelemtacion de index.html **/
    .busqueda {
        grid-template-columns: 1fr;
        gap: 4px;
    }

    .busqueda div {
        display: flex;
        flex-direction: column;
    }

    .select {
        border-radius: var(--border-radius-min);
        font-size: var(--font-xx-small);
        width: 100%;
        height: 40px;
        text-align: center;
    }

    #quicksearch {
        text-align: center;
        margin-bottom: 4px;
        font-size: var(--font-xx-small);
        width: 100%;
    }

    .boton_busqueda {
        padding: var(--padding-x-small);
    }

    .cbox {
        font-size: var(--font-x-small);
    }

    /** implementacion de quienessomos.html **/
    .nosotros {
        position: relative;
        top: -8px;
    }

    .quienes_somos {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .quienes_somos h3 {
        font-size: var(--font-small);
        padding: 30px 0 0 0;
    }

    .quienes_somos p {
        font-size: var(--font-x-small);
    }

    .quienes_somos div {
        text-align: center;
        width: 100%;
    }

    #div-foto {
        display: none;
    }

    /**implementacion de contacto.html**/

    .seccion_contacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .login_form {
        width: 100%;
        padding: 0;
    }

    .formulario_contacto {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .formulario_contacto p {
        width: 100%;
        text-align: justify;
        font-size: var(--font-x-small);
        margin: var(--margin-x-small) auto;

    }

    .img_contacto {
        visibility: collapse;
    }

    .formulario_contacto h4 {
        font-size: var(--font-small);
        color: var(--text-color-secondary);
        margin-top: var(--margin-small-2);
    }

    .login_form div {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    #nombre_contacto,
    #phone_contacto,
    #direccion_contacto,
    #comentarios_contacto,
    #email_contacto {
        height: 15px;
        width: 100%;
    }

    #comentarios_contacto {
        height: 60px;
    }

    .button_contacto {
        padding: var(--padding-x-small);
        width: 100%;
        margin-top: var(--margin-small);
    }

    /**implementacion de registro**/
    .formulario_registro_usuario,
    .formulario_registro_propietario {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-user,
    .form-prop {
        width: 90%;
    }

    .formularios_usuarios h4 {
        width: 100%;
        padding: 0 var(--padding-medium) 0 var(--padding-medium);
        font-size: var(--font-x-small);
        text-align: center;
        margin-top: 50px;
        overflow-x: visible;
    }

    .boton-form {
        width: 90%;
    }

    .usuario_form input {
        font-size: var(--font-xx-small);
    }

    #name_usuario,
    #dni_usuario,
    #address_usuario,
    #CPostal_usuario,
    #email_usuario,
    #password_usuario,
    #password2_usuario,
    #razon_social,
    #matricula_usuario {
        padding: var(--padding-x-small);
        width: 90%;
        margin-bottom: var(--margin-small-1);
        border: 0.3px solid var(--border-color-3);
    }

    .formularios_usuarios {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /**implementacion inicio sesion **/
    .inicio_sesion {
        width: 100%;
    }

    .formulario {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: var(--padding-small);
        margin: var(--margin-small) auto;
        border: 1px solid var(--border-color-3);
    }

    #email,
    #password,
    #nombre_apellido,
    #phone,
    #direccion,
    #comentarios,
    #razon_social_p,
    #matricula_usuario_p {
        padding: var(--padding-x-small);
        width: 90%;
        margin-bottom: var(--margin-small-1);
        border: 0.3px solid var(--border-color-3);
    }

    .formulario h4 {
        padding: var(--padding-x-small);
        font-size: var(--font-small);
        text-align: center;
    }

    .button {
        padding: var(--padding-x-small);
        width: 100%;
        margin-top: var(--margin-small);
        background-color: var(--bg-color-busqueda);
        color: var(--text-color-third);
        border-radius: var(--border-radius-med);
        cursor: pointer;
        font-size: var(--font-x-small);
    }

    .button_publicar {
        padding: 0px;
        height: 50px;
        background-color: var(--bg-color-busqueda);
        justify-content: center;
        align-content: center;
    }

    /**implementacion para propiedades.html **/
    main {
        margin-top: calc(var(--padding-medium) + 114px);
        font-size: 3.5vw;
    }

    .img-fondo {
        height: 110px;
        background-image: url("../static/img/fondo_cortado_duotono-alquileres.png");
    }

    .bar-buttons {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: var(--margin-min);
    }

    .bar button {
        width: 99px;
        height: 32px;
    }

    .container .bar {
        flex-direction: column;
        margin-top: var(--margin-small-1);
    }

    /**filtros**/
    .form-filter {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .filter {
        justify-content: space-around;
        margin: var(--margin-x-small);
    }

    .button-container {
        order: 12;
    }

    #space {
        order: 11;
    }

    #upload-file {
        order: 10;
    }

    #archivo {
        min-width: 230px;
    }

    .button-container button {
        width: 375px;
    }

    /** propiedades**/
    .property-container {
        display: flex;
        flex-direction: column;
        height: 400px;
        overflow-y: scroll;
    }

    /** navegador de paginas**/
    .pages-bar ul {
        width: 90%;
        margin-top: var(--margin-small-1);
    }

    /*Footer*/

    .abrir-menu,
    .cerrar-menu{
        display: block;
        border: 0;
        font-size: 1rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right:0;
        bottom:0;
        padding: 2rem;
        background-color: var(--bg-color-principal);
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        z-index: 1;
    }

    .nav.visible{
        opacity: 1;
        visibility: visible;
    }

    .nav-list{
        flex-direction: column;
        align-items: end;
    }

    .nav-list  li a{
        color: #ececec;
        font-size: var(--font-x-small);
    }

    .fotter-nav{
        flex-direction: column;
    }

    .comunicate{
        display: grid;
        grid-template-columns: auto;
        text-align: center;
        gap: 1rem;
    }

    .social-footer{
        flex-direction: column;
    }

    .info{
        display: flex;
        flex-direction: column;
    }

}

/*-----------Registro-----------*/

.mregistro {
    display: flex;
    flex-wrap: wrap;
}

.tituloregistro1 {
    background-image: url('../static/img/fondo_cortado_duotono-registro.png');
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 90px 0px 80px 0px;
}

.menregistro {
    color: black;
    width: 412px;
    height: 646px;
    margin: 20px auto;
    border-radius: var(--border-radius-max);
    border-color: black;
    font-family: "Nunito", sans-serif;
    text-align: center;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #c2c2c2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mregistro h2 {
    color: black;
    font-family: "Nunito", sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10%;
}

.form-control1 input {
    width: 80%;
    padding: 8px;
    border-radius: var(--border-radius-min);
    margin-bottom: 10px;
    border: 1px solid rgb(194, 194, 194);
}

.terms1 {
    color: black;
    font-family: "Nunito", sans-serif;
    font-size: medium;
    text-align: center;
    font-weight: normal;
    padding: 10px 0px;
}

.form-help1 a {
    color: black;
    font-family: "Nunito", sans-serif;
    font-size: medium;
    text-align: center;
    font-weight: normal;
    font-size: 15px;
    padding: 10px 0px;
    margin: 50px;
}

.ingresarboton {
    width: 60%;
    height: 26px;
    border-radius: var(--border-radius-med);
    background-color: #0C1B33;
    color: white;
    font-size: medium;
}

button:hover {
    cursor: pointer;
    border: 3px solid #0eb5aa;
    background: rgb(235, 234, 241);
    color: #0C1B33;
}

/*-----------Ingreso-----------*/


.ingreso1{
    display: flex;
    flex-wrap: wrap;
}

.mingreso {
    color: black;
    padding: 20px;
    width: 412px;
    height: 646px;
    margin: 20px auto;
    border-radius: var(--border-radius-max);
    border-color: black;
    border-top-color: #000000;
    font-family: "Nunito", sans-serif;
    text-align: center;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #c2c2c2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tituloingreso1 {
    width: 100%;
    height: 100%;
    background-image: url('../static/img/fondo_cortado_duotono-ingreso.png');
    background-position: center center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 90px 0px 80px 0px;
    flex-wrap: wrap;
}

.ingreso1 h3 {
    color: black;
    background: none;
    font-family: "Nunito", sans-serif;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 0px 80px 0px 0px;
    margin-top: 20px;
    margin-left: 70px;
    margin-bottom: 50%;
}

.buting {
    margin: 0px 10px 0px 10px;
    padding: 0px 10px 0px 0px;
}

.bingresar img {
    width: 30px;
    padding: var(--padding-xx-small);
    transition: transform .3s;
    padding: 0px 0px 0px 0px;
}

.buting button {
    width: auto;
    height: 45px;
    border-radius: var(--border-radius-med);
    border-style: solid;
    background-color: #ffffff;
    color: #0C1B33;
    font-size: medium;
    font-weight: bolder;
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.butpub button {
    width: auto;
    height: 45px;
    border-radius: var(--border-radius-med);
    border-style: solid;
    background-color: #0C1B33;
    color: #ffffff;
    font-size: medium;
    font-weight: bolder;
    padding: 10px;
}