:root {
    font-size: 23px;

    /*Colores fondo*/
    --bg-color-principal: #0eb5aa;
    --bg-color-principal-transp: rgba(3, 181, 169, 0.6);
    --bg-color-busqueda: #0c1b33;
    --bg-color-cards-price: rgb(0, 162, 255);
    --bg-gradient-color: linear-gradient(to right, rgb(0, 162, 255), rgb(6, 37, 104));
    --bg-color-secondary: #ffffff;
    --bg-color-footer: #B2AA8E;
    --bg-color-destacadas-titulos: #DBFE87;

    /*Colores textos*/
    --text-color-principal: #000000;
    --text-color-secondary: #0eb5aa;
    --text-color-third: #ffffff;
    --text-color-title: #D60B52;
    --text-color-price: #6d9c00;
    --text-color-nav-a-hover: #0c1b33;
    --text-shadow: 3px 3px 5px #000000;
    --text-color-copyright: #ffffff;
    --text-color-grupocreador: #9c1d1d;
    --text-color-propiedad-p: #797979;
    --text-color-link: #0f00b4;

    /*Fonts*/
    --font-xx-large: 3rem;
    --font-x-large: 2.5rem;
    --font-large: 2rem;
    --font-medium: 1.5rem;
    --font-small: 1rem;
    --font-x-small: 0.73rem;
    --font-xx-small: 0.55rem;

    /*Padding*/
    --padding-xx-large: 300px;
    --padding-x-large: 70px;
    --padding-large: 50px;
    --padding-medium: 30px;
    --padding-small: 20px;
    --padding-x-small: 15px;
    --padding-xx-small: 10px;
    --padding-xxx-small: 5px;

    /*Margin*/
    --margin-x-large: 120px;
    --margin-large: 90px;
    --margin-medium: 70px;
    --margin-medium-2: 50px;
    --margin-small: 30px;
    --margin-small-2: 20px;
    --margin-small-1: 15px;
    --margin-x-small: 10px;
    --margin-min: 3px;

    /*Border radius*/
    --border-radius-max: 15px;
    --border-radius-med: 8px;
    --border-radius-min: 3px;

    /*Gap*/
    --gap-maximo: 50px;
    --gap-medio: 30px;
    --gap-min2: 20px;
    --gap-min: 10px;

    /*Border color*/
    --border-color-1: #a8a8a8;
    --border-color-2: #3b3b3b;
    --border-color-3: #888888;

    /*Fuente nunito google predeterminada*/
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

html {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    margin: 0 auto;
    width: 100%;
}

/* Codigo para el header */

header {
    width: 100%;
    position: fixed;
    margin: 0%;
    background-color: var(--bg-color-secondary);
    z-index: 9999;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo_alquilame {
    width: 20%;
}

.comunicate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.social {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
}

.social h4 {
    font-size: var(--font-x-small);
}

.iconos_social {
    display: flex;
    flex-direction: row;
}

.iconos_social img {
    width: 30px;
    padding: var(--padding-xx-small);
    transition: transform .3s;
}

.iconos_social img:hover {
    transform: scale(1.3);
}

.ingreso {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ingreso img {
    width: 25px;
}

.comunicate {
    font-size: var(--font-x-small);
}

.comunicate p {
    font-weight: 700;
}

.comunicate a {
    color: var(--text-color-principal);
    text-decoration: none;
    font-weight: 400;
}

.comunicate a:hover {
    color: var(--text-color-secondary);
}

.ingreso {
    font-size: var(--font-x-small);
}

.ingreso a {
    text-decoration: none;
}

#publicar {
    padding: var(--padding-xxx-small) var(--padding-small);
    background-color: var(--bg-color-busqueda);
    color: var(--text-color-third);
    border-radius: var(--border-radius-med);
}

#inicio_sesion {
    color: var(--text-color-principal);
    padding: 0 var(--padding-small) 0 0;
}

.menu_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-principal);
    height: 50px;
}

.menu_nav a {
    text-decoration: none;
    font-size: var(--font-x-small);
    transition: 0.5s;
    font-weight: 600;
    color: var(--text-color-third);
    margin-right: var(--margin-small);
}

.menu_nav a:hover {
    color: var(--text-color-nav-a-hover);
}

.busqueda_gral {
    height: 700px;
    background-image: url("../static/img/Fondo\ index\ duotono.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.busqueda_gral h2 {
    text-align: center;
    color: var(--text-color-third);
    text-shadow: var(--text-shadow);
    margin-bottom: var(--margin-medium);
    font-size: var(--font-large);
}

.busqueda {
    width: 70%;
    display: grid;
    height: auto;
    grid-template-columns: auto auto auto;
    justify-content: center;
    background-color: var(--bg-color-principal-transp);
    padding: var(--padding-large);
    padding-bottom: var(--padding-xxx-small);
    border-radius: var(--border-radius-max);
}

.select {
    border-radius: var(--border-radius-min);
    font-size: var(--font-x-small);
    width: 97%;
    height: 40px;
}

.cbox {
    font-size: var(--font-x-small);
    color: var(--text-color-third);
    padding: var(--padding-x-small);
    cursor: pointer;
}

#quicksearch {
    width: 97%;
    height: 36px;
    font-size: var(--font-x-small);
}

.boton_busqueda {
    padding: var(--padding-x-small);
}

.buscar {
    color: var(--text-color-third);
    font-weight: 500;
    text-decoration: none;
    font-size: var(--font-x-small);
    background-color: var(--bg-color-busqueda);
    padding: var(--padding-xx-small) var(--padding-small);
    border-radius: var(--border-radius-med);
}

/* Codigo para el footer */

footer {
    background-color: var(--bg-color-footer);
}

.footer_nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer_links {
    width: 300px;
}

.footer_links a {
    text-decoration: none;
    font-size: var(--font-x-small);
    color: var(--text-color-copyright);
    font-weight: 800;
    margin: var(--margin-medium);
}

.footer_links a:hover {
    color: var(--text-color-nav-a-hover);
}

.info {
    width: 380px;
    padding: var(--padding-large);
    font-weight: 600;
}

.info h3 {
    font-size: var(--font-x-small);
    color: var(--text-color-principal);
}

.info p {
    font-size: var(--font-xx-small);
    text-align: justify;
    font-weight: lighter;
    color: var(--text-color-third);
}

.footer_info {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.copyright {
    font-size: var(--font-xx-small);
}

.diseñador a {
    text-decoration: none;
    font-size: var(--font-x-small);
    color: var(--text-color-principal);
}

.diseñador a span {
    color: var(--text-color-grupocreador);
    font-weight: 500;
}

/* Codigo Nosotros */

.sobre_nosotros {
    width: 100%;
    background: url("../static/img/fondo_cortado_duotono.png");
}

.sobre_nosotros h2 {
    height: 150px;
    align-content: center;
    text-align: center;
    color: var(--text-color-third);
    text-shadow: var(--text-shadow);
    font-size: var(--font-large);
}

.nosotros {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 139px;
    align-items: center;
}

.quienes_somos {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.quienes_somos div {
    width: 50%;
}

.quienes_somos h3 {
    font-size: var(--font-medium);
    padding: var(--padding-medium) var(--padding-x-large) 0 var(--padding-x-large);
    color: var(--text-color-secondary);
}

.quienes_somos p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: var(--padding-small) var(--padding-x-large);
    font-size: var(--font-x-small);
    text-align: justify;
    color: var(--text-color-propiedad-p);
}

.foto_nosotros {
    width: 100%;
    padding: var(--padding-x-small) 0 var(--padding-x-small) var(--padding-x-small);
}

/* Codigo formulario Log in */

.inicio_sesion {
    margin-top: 139px;
}

.login {
    width: 100%;
    background: url("../static/img/fondo_cortado_duotono_ingreso.png");
}

.login h2 {
    height: 150px;
    align-content: center;
    text-align: center;
    color: var(--text-color-third);
    text-shadow: var(--text-shadow);
    font-size: var(--font-large);
}

.seccion_contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.formulario {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--padding-small);
    margin: var(--margin-small) auto;
    border: 1px solid var(--border-color-3);
}

.formulario_contacto {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--padding-small);
}

.formulario_contacto p {
    width: 400px;
    text-align: justify;
    font-size: var(--font-x-small);
    margin: var(--margin-x-small) auto;

}

.contacto {
    margin-top: 139px;
}

.img_contacto img {
    width: 950px;
    height: auto;
}

.contacto_title {
    width: 100%;
    background: url("../static/img/fondo_cortado_duotono_contacto.png");
}

.contacto_title h2 {
    height: 150px;
    align-content: center;
    text-align: center;
    color: var(--text-color-third);
    text-shadow: var(--text-shadow);
    font-size: var(--font-large);
}

.formulario_contacto p span {
    color: var(--text-color-link);
    cursor: pointer;
}

.formulario_contacto h4 {
    padding: 0 var(--padding-medium) 0 var(--padding-medium);
    font-size: var(--font-medium);
    color: var(--text-color-secondary);
    text-align: center;
    margin-top: 50px;
}

#nombre_contacto,
#phone_contacto,
#direccion_contacto,
#comentarios_contacto,
#email_contacto {
    padding: var(--padding-x-small);
    width: 400px;
    margin-bottom: var(--margin-small-1);
    border: 0.3px solid var(--border-color-3);
}

.button_contacto {
    padding: var(--padding-x-small);
    width: 435px;
    margin-top: var(--margin-small);
    background-color: var(--bg-color-busqueda);
    color: var(--text-color-third);
    border-radius: var(--border-radius-med);
    cursor: pointer;
}

.formulario h4 {
    padding: var(--padding-medium);
    font-size: var(--font-medium);
    color: var(--text-color-secondary);
    text-align: center;
}

.login_form {
    padding: var(--padding-medium);
}

#email,
#password,
#nombre_apellido,
#phone,
#direccion,
#comentarios,
#razon_social_p,
#matricula_usuario_p {
    padding: var(--padding-x-small);
    width: 300px;
    margin-bottom: var(--margin-small-1);
    border: 0.3px solid var(--border-color-3);
}

.button {
    padding: var(--padding-x-small);
    width: 343px;
    margin-top: var(--margin-large);
    background-color: var(--bg-color-busqueda);
    color: var(--text-color-third);
    border-radius: var(--border-radius-med);
    cursor: pointer;
    font-size: var(--font-x-small);
}

.button_publicar {
    font-size: var(--font-x-small);

    padding: var(--padding-small);
    width: 300px;
    background-color: var(--bg-color-busqueda);
    text-align: center;
    border-radius: var(--border-radius-med);
}

.button_publicar a {
    color: var(--text-color-third);
    text-decoration: none;
}

.contraseña,
.ayuda {
    color: var(--text-color-link);
    cursor: pointer;
    font-size: var(--font-x-small);
    margin: var(--margin-x-small);
}

.cbox-login {
    font-size: var(--font-x-small);
    color: var(--text-color-principal);
    cursor: pointer;
}

.registro_u_p {
    margin-top: 139px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.registro_title {
    width: 100%;
    background: url("../static/img/fondo_cortado_duotono - registro.png");
}

.registro_title h2 {
    height: 150px;
    align-content: center;
    text-align: center;
    color: var(--text-color-third);
    text-shadow: var(--text-shadow);
    font-size: var(--font-large);
}

.formularios_usuarios {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.form-user,
.form-prop {
    width: 90%;
}

.formularios_usuarios h4 {
    padding: 0 var(--padding-medium) 0 var(--padding-medium);
    font-size: var(--font-medium);
    color: var(--text-color-secondary);
    text-align: center;
    margin-top: 50px;
}

.usuario_form {
    padding: var(--padding-medium);
}

#name_usuario,
#dni_usuario,
#address_usuario,
#CPostal_usuario,
#email_usuario,
#password_usuario,
#password2_usuario,
#razon_social,
#matricula_usuario {
    padding: var(--padding-x-small);
    width: 100%;
    margin-bottom: var(--margin-small-1);
    border: 0.3px solid var(--border-color-3);
}

.button_usuario {
    padding: var(--padding-x-small);
    width: 100%;
    margin-top: var(--margin-small);
    background-color: var(--bg-color-busqueda);
    color: var(--text-color-third);
    border-radius: var(--border-radius-med);
    cursor: pointer;
    font-size: var(--font-x-small);
}

.requeridos {
    font-size: var(--font-x-small);
    color: var(--text-color-title);
    font-weight: 500;
}

/* -- animaciones propiedades.html -- */
.magic {
    -webkit-animation: magic 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: magic 1.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes magic {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(12px);
        transform: translateZ(12px);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes magic {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(12px);
        transform: translateZ(12px);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

.fade-in {
    -webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* PANTALLAS GRANDES */
@media screen and (max-width:1920px) {
    /** implementacion de nosotros.html***/

    .quienes_somos {
        align-items: start;
    }

    .quienes_somos h3 {
        font-size: var(--font-medium);
        padding: 30px 0 0 0;
    }

    .quienes_somos p {
        font-size: var(--font-small);
    }

    .quienes_somos div {
        text-align: center;
        width: 50%;
    }

    #div-foto {
        padding: 30px 0 0 0;
    }

    /** implementacion de registros **/
    .formulario_registro_usuario,
    .formulario_registro_propietario {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .formularios_usuarios h4 {
        width: 100%;
        padding: 0 var(--padding-medium) 0 var(--padding-medium);
        font-size: var(--font-small);
        color: var(--text-color-secondary);
        text-align: center;
        margin-top: 50px;
    }

    .form-user,
    .form-prop {
        width: 70%;
    }

    .boton-form {
        width: 60%;
    }

    /* -- implementacion de propiedades -- */

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-top: calc(var(--padding-medium) + 114px);
    }

    .img-fondo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 258px;
        background-image: url("../static/img/fondo_cortado_duotono-alquileres.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: var(--bg-color-secondary);
    }

    .img-fondo h1 {
        text-shadow: 0px 4px 4px black;
        font-weight: 800;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .container-content {
        max-width: 95%;
    }

    .container .bar {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: var(--margin-medium-2);
    }

    .bar button {
        width: 139px;
        height: 42px;
        background-color: var(--bg-color-busqueda);
        color: var(--bg-color-secondary);
        border-radius: 10px;
        border-width: 0;
        font-size: var(--font-x-small);
        font-weight: 600;
    }

    /**filtros**/
    .filter-container {
        border: 0.5px solid var(--bg-color-footer);
        margin-top: var(--margin-small);
        margin-bottom: var(--margin-small);
    }

    .filter {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: var(--margin-small-2);
    }

    .form-filter {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(6, 1fr);
        width: 100%;
        font-size: 16px;
        justify-content: space-evenly;
    }

    .form-filter input,
    .form-filter select {
        box-sizing: border-box;
        width: 375px;
        height: 47px;
    }

    .form-filter label {
        width: 147px;
        font-size: 20px;
    }

    .button-container {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 7;
        display: flex;
        justify-content: end;
    }

    .button-container button {
        width: 320px;
        height: 47px;
        background-color: var(--bg-color-busqueda);
        color: var(--text-color-third);
        font-weight: 600;
        border-radius: 10px;
    }

    #archivo {
        align-content: center;
    }

    /** propiedades**/
    .property-container {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        gap: 20px;
        margin-bottom: var(--margin-small);
    }

    /** tarjetas **/
    .property {
        display: flex;
        width: 100%;
        flex-direction: column;
        height: auto;
        border-radius: var(--border-radius-max);
        background-color: #D9D9D9;
        justify-content: center;
    }

    .property img {
        width: 100%;
        height: 70%;
        border-top-left-radius: var(--border-radius-max);
        border-top-right-radius: var(--border-radius-max);
    }

    .property p {
        font-size: var(--font-x-small);
    }

    .property span {
        color: var(--text-color-principal);
        font-weight: 500;
    }

    .info-prop {
        padding: var(--padding-x-small);
    }

    /** navegador de paginas**/
    .pages-bar {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 39px;
        margin-bottom: var(--margin-small);
        justify-content: center;
    }

    .pages-bar ul {
        display: flex;
        width: 40%;
        justify-content: space-around;
    }

    .pages-bar li {
        list-style: none;
        display: inline-block;
    }

    .pages-bar li a {
        text-decoration: none;
        color: #000000;
        font-size: 20px;
        font-weight: 300;
    }
}

/* TABLETS */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    /** implelemtacion de index.html **/
    .busqueda {
        grid-template-columns: 25% 25% 50%;
        gap: 3px;
    }

    .select {
        border-radius: var(--border-radius-min);
        font-size: var(--font-xx-small);
        width: 98%;
        height: 40px;
    }

    .cbox {
        font-size: var(--font-x-small);
    }

    #cbox1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 2;
    }

    #cbox2 {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    #quicksearch {
        font-size: var(--font-x-small);
    }

    /** implementacion de nosotros.html **/

    .nosotros {
        position: relative;
        top: -8px;
    }

    .quienes_somos {
        align-items: start;
    }

    .quienes_somos h3 {
        font-size: var(--font-small);
        padding: 30px 0 0 0;
    }

    .quienes_somos p {
        font-size: var(--font-x-small);
    }

    .quienes_somos div {
        text-align: center;
        width: 50%;
    }

    /** implementacion de registro **/
    .formulario_registro_usuario,
    .formulario_registro_propietario {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .formularios_usuarios h4 {
        width: 100%;
        padding: 0 var(--padding-medium) 0 var(--padding-medium);
        font-size: var(--font-small);
        color: var(--text-color-secondary);
        text-align: center;
        margin-top: 50px;
    }

    .boton-form {
        width: 90%;
    }

    /** implementacion de propiedades **/
    main {
        margin-top: calc(var(--padding-medium) + 114px);
        font-size: 2.4vw;
    }

    .img-fondo {
        height: 150px;
        background-image: url("../static/img/fondo_cortado_duotono-alquileres.png");
    }

    .bar button {
        width: 109px;
        height: 32px;
    }

    .container .bar {
        margin-top: var(--margin-small-1);
    }

    /**filtros**/
    .filter {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: var(--margin-x-small);
    }

    .form-filter {
        font-size: 15px;
    }

    .form-filter input,
    .form-filter select {
        box-sizing: border-box;
        width: 375px;
        height: 47px;
    }

    .form-filter label {
        width: 147px;
    }

    .button-container {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 7;
        display: flex;
        justify-content: end;
    }

    .button-container button {
        width: 375px;
    }

    #space {
        visibility: hidden;
    }

    /** propiedades**/
    .property-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        height: 600px;
        overflow-y: scroll;
    }

    /** navegador de paginas**/
    .pages-bar ul {
        width: 70%;
        margin-top: var(--margin-small-1);
    }
}


/* CELULARES */
@media screen and (max-width: 767px) {

    /** implelemtacion de index.html **/
    .busqueda {
        grid-template-columns: 1fr;
        gap: 4px;
    }

    .busqueda div {
        display: flex;
        flex-direction: column;
    }

    .select {
        border-radius: var(--border-radius-min);
        font-size: var(--font-xx-small);
        width: 100%;
        height: 40px;
        text-align: center;
    }

    #quicksearch {
        text-align: center;
        margin-bottom: 4px;
        font-size: var(--font-xx-small);
        width: 99%;
    }

    .boton_busqueda {
        padding: var(--padding-x-small);
    }

    .cbox {
        font-size: var(--font-x-small);
    }

    /** implementacion de quienessomos.html **/
    .nosotros {
        position: relative;
        top: -8px;
        height: 800px;
    }

    .quienes_somos {
        align-items: start;
    }

    .quienes_somos h3 {
        font-size: var(--font-small);
        padding: 30px 0 0 0;
    }

    .quienes_somos p {
        font-size: var(--font-x-small);
    }

    .quienes_somos div {
        text-align: center;
        width: 100%;
    }

    #div-foto {
        visibility: collapse;
    }

    /**implementacion de registro**/
    .formulario_registro_usuario,
    .formulario_registro_propietario {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-user,
    .form-prop {
        width: 90%;
    }

    .formularios_usuarios h4 {
        width: 100%;
        padding: 0 var(--padding-medium) 0 var(--padding-medium);
        font-size: var(--font-x-small);
        color: var(--text-color-secondary);
        text-align: center;
        margin-top: 50px;
        overflow-x: visible;
    }

    .boton-form {
        width: 90%;
    }

    .usuario_form input {
        font-size: var(--font-xx-small);
    }

    #name_usuario,
    #dni_usuario,
    #address_usuario,
    #CPostal_usuario,
    #email_usuario,
    #password_usuario,
    #password2_usuario,
    #razon_social,
    #matricula_usuario {
        padding: var(--padding-x-small);
        width: 90%;
        margin-bottom: var(--margin-small-1);
        border: 0.3px solid var(--border-color-3);
    }

    .formularios_usuarios {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /**implementacion para propiedades.html **/
    main {
        margin-top: calc(var(--padding-medium) + 114px);
        font-size: 3.5vw;
    }

    .img-fondo {
        height: 110px;
        background-image: url("../static/img/fondo_cortado_duotono-alquileres.png");
    }

    .bar-buttons {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: var(--margin-min);
    }

    .bar button {
        width: 99px;
        height: 32px;
    }

    .container .bar {
        flex-direction: column;
        margin-top: var(--margin-small-1);
    }

    /**filtros**/
    .form-filter {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .filter {
        justify-content: space-around;
        margin: var(--margin-x-small);
    }

    .button-container {
        order: 12;
    }

    #space {
        order: 11;
    }

    #upload-file {
        order: 10;
    }

    #archivo {
        min-width: 230px;
    }

    .button-container button {
        width: 375px;
    }

    /** propiedades**/
    .property-container {
        display: flex;
        flex-direction: column;
        height: 400px;
        overflow-y: scroll;
    }

    /** navegador de paginas**/
    .pages-bar ul {
        width: 90%;
        margin-top: var(--margin-small-1);
    }
}