<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Panel</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="../css/Style-user2.css" />
    </head>
    <body>
        <div class="header">
            <img
                src="../static/img/Logo alquilame azul.svg"
                alt="Logo Alquilame"
                class="logo-header"
            />
        </div>
        <div class="principal">
            <div class="contenido">
                <div class="propiedad">
                    <img
                        src="../static/img/pexels-pixabay-164558.jpg"
                        alt=""
                        class="foto-propiedad"
                    />
                    <div class="estado">
                        <div class="icono-estado">
                            <img
                                src="../static/img/yes-icono.png"
                                alt="icono de estado"
                            />
                        </div>
                    </div>
                </div>
                <div class="propiedad">
                    <img
                        src="../static/img/pexels-pixabay-259588.jpg"
                        alt=""
                        class="foto-propiedad"
                    />
                    <div class="estado">
                        <div class="icono-estado">
                            <img
                                src="../static/img/no-icono.png"
                                alt="icono de estado"
                            />
                        </div>
                    </div>
                </div>
                <div class="propiedad">
                    <img
                        src="../static/img/pexels-pixabay-276724.jpg"
                        alt=""
                        class="foto-propiedad"
                    />
                    <div class="estado">
                        <div class="icono-estado">
                            <img
                                src="../static/img/yes-icono.png"
                                alt="icono de estado"
                            />
                        </div>
                    </div>
                </div>
                <div class="propiedad">
                    <img
                        src="../static/img/pexels-pixabay-534151.jpg"
                        alt="icono de estado"
                        class="foto-propiedad"
                    />
                    <div class="estado">
                        <div class="icono-estado">
                            <img
                                src="../static/img/no-icono.png"
                                alt="icono de estado"
                            />
                        </div>
                    </div>
                </div>
                <div class="propiedad">
                    <img
                        src="../static/img/pexels-pixabay-275484.jpg"
                        alt=""
                        class="foto-propiedad"
                    />
                    <div class="estado">
                        <div class="icono-estado">
                            <img
                                src="../static/img/no-icono.png"
                                alt="icono de estado"
                            />
                        </div>
                    </div>
                </div>
                <div class="propiedad">
                    <img
                        src="../static/img/pexels-pixabay-259962.jpg"
                        alt=""
                        class="foto-propiedad"
                    />
                    <div class="estado">
                        <div class="icono-estado">
                            <img
                                src="../static/img/yes-icono.png"
                                alt="icono de estado"
                            />
                        </div>
                    </div>
                </div>
                <div class="propiedad">
                    <img
                        src="../static/img/pexels-christa-grover-2121120.jpg"
                        alt=""
                        class="foto-propiedad"
                    />
                    <div class="estado">
                        <div class="icono-estado">
                            <img
                                src="../static/img/no-icono.png"
                                alt="icono de estado"
                            />
                        </div>
                    </div>
                </div>
                <div class="propiedad">
                    <img
                        src="../static/img/pexels-expect-best-323780.jpg"
                        alt=""
                        class="foto-propiedad"
                    />
                    <div class="estado">
                        <div class="icono-estado">
                            <img
                                src="../static/img/no-icono.png"
                                alt="icono de estado"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <aside class="menu">
                <div class="item-menu control-publicaciones">
                    <div>Propiedades</div>
                    <a href="">Nuevo</a>
                    <a href="">Editar</a>
                    <a href="">Borrar</a>
                </div>
                <div class="item-menu mensajes">
                    <div>mensajes</div>
                    <a href="">Mensajes Nuevos</a>
                    <a href="">Nuevo Mensaje</a>
                </div>
                <div class="item-menu filtro">
                    <div>Filtro Avanzado</div>
                    <div class="item-menu grid-container">
                        <label for="Habitacions">Hab.</label>
                        <input type="number" name="habitaciones" id="habitaciones" min="1">
                        <label for="cochera">Coch.</label>
                        <input type="checkbox" name="cochera" id="cochera">
                        <label for="hospital">Hosp.</label>
                        <input type="checkbox" name="hospital" id="hospital">
                        <label for="centro-comercial">C Com.</label>
                        <input type="checkbox" name="centro-comercial" id="centro-comercial">
                        <label for="colegio">Educ.</label>
                        <input type="checkbox" name="colegio" id="colegio">
                    
                    </div>
                </div>
            </aside>
        </div>
    </body>
</html>
